* {
  padding: 0px;
  margin: 0px;
}
/* General Styles */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
}
/* Navigation */
header {
  background: #222;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
.logo {
  font-size: 1.6rem;
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
}
.section h2 {
  margin-bottom: 20px;
  color: #444;
}
.highlight {
  color: #0077cc;
}

/* Home */
.profile-img {
  width: 250px;
  border-radius: 50px;
  margin-top: 20px;
}

/* Skills*/
.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.skills-container ul {
  list-style: none;
  padding: 0;
}
.skills-container li {
  background: #0077cc;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}
.project-card img {
  width: 75%;
  border-radius: 5px;
}
.project-card h3 {
  margin-top: 10px;
}

/*  */
